<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>gmap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<agm-map
   [style.height.px]="height"
   [latitude]="lat"
   [longitude]="lng">
     <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
  <agm-map
   [style.height.px]="height"
   [latitude]="lat"
   [longitude]="lng">
     <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</ion-content>
