<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My First App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
 <!-- <ion-button (click)="callAlertPopup()" expand="full" fill="solid" >
   Click me
 </ion-button>

 <ion-grid fixed>
   <ion-row>
     <ion-col style="background-color: blue;" size-md="12" size-sm="6" offset-lg="3" offset-md="2">Text</ion-col>
     <ion-col style="background-color: red;" size="12" size-md>Text</ion-col>
     <ion-col style="background-color: blue;" size="12" size-md>Text</ion-col>
     <ion-col style="background-color: red;" size="12" size-md>Text</ion-col>
   </ion-row>
 </ion-grid> -->

 <ion-button routerLink="/places" expand="block" fill="solid">
   Router Link
 </ion-button>

 <ion-button (click)="gotoPlaces()" expand="block" fill="solid">
   Router From Controller
 </ion-button>

</ion-content>

